[Unit]
Description=Keep CPU usage in check

[Service]
User=root
ExecStart=/bin/bash /usr/local/bin/cpu-limit.sh
ExecStop=/bin/bash -c 'kill $(cat /tmp/cpu-limit.pid) && rm -f /tmp/cpu-limit.pid'
Type=simple
