[Unit]
Description=Keep CPU usage

[Service]
User=root
ExecStart=/bin/bash /usr/local/bin/cpu-limit.sh
ExecStop=/bin/bash -c 'kill $(cat /tmp/cpu-limit.pid) && rm -rf /tmp/cpu-limit.pid'
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
