[Unit]
Description=Run CPU limit every 50 minutes for 10 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=50min
Unit=cpu-limit.service

[Install]
WantedBy=multi-user.target
